:root {
  --bg-light: #e7e7e7;
  --bg-light-2: #fff;
  --bg-dark: #1c1b22;
  --bg-dark-2: #181713;
  --text-light: #000000;
  --text-dark: #ffffff;
  --gray: #969696;
  --gray-2: #3f3f3f;
}

@font-face {
  font-family: 'Klein';
  src: url('fonts/Klein/KleinCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Reset e estrutura base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klein', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
.search-container,
.main-content {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html[data-theme="light"] body {
  background-color: var(--bg-light);
  transition: none;
}

html[data-theme="light"] .search-container {
  box-shadow: 0 0 5px 0 var(--gray);
  background-color: var(--bg-light-2);
}

html[data-theme="light"] .main-content {
  background-color: var(--bg-light-2);
}

html[data-theme="light"] .logo {
  background-image: url(img/logo_default.png);
  height: 100%;
  width: 53px;
  background-size: cover;
}

html[data-theme="light"] .music-card-search {
  background-color: var(--bg-light);
}


html[data-theme="dark"] body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: none;
}

html[data-theme="dark"] .search-container {
  background-color: var(--bg-dark-2) !important;
  box-shadow: none !important;
  border: 1px solid var(--gray-2);
}

html[data-theme="dark"] .search-container input {
  color: var(--gray);
}

html[data-theme="dark"] .main-content {
  background-color: var(--bg-dark-2);
}

html[data-theme="dark"] .logo {
  background-image: url(img/logo_white.png);
  height: 100%;
  width: 53px;
  background-size: cover;
}

html[data-theme="dark"] .music-card-search {
  background-color: var(--bg-dark);
}

html[data-theme="dark"] .music-card-search .title {
  color: var(--text-dark);
  font-weight: normal;
}

html[data-theme="dark"] .music-card {
  background-color: var(--bg-dark);
}

html[data-theme="dark"] .music-card .title {
  color: var(--text-dark);
  font-weight: normal;
}



@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }

  html:not([data-theme]) .search-container {
    background-color: var(--bg-dark-2) !important;
    box-shadow: none !important;
    border: 1px solid var(--gray-2);
  }

  html:not([data-theme]) .search-container input {
    color: var(--gray);
  }

  html:not([data-theme]) .main-content {
    background-color: var(--bg-dark-2);
  }

  html:not([data-theme]) .logo {
    background-image: url(img/logo_white.png);
    height: 100%;
    width: 53px;
    background-size: cover;
  }

  html:not([data-theme]) .music-card-search {
    background-color: var(--bg-dark);
  }

  html:not([data-theme]) .music-card-search .title {
    color: var(--text-dark);
    font-weight: normal;
  }

    html:not([data-theme]) .music-card {
    background-color: var(--bg-dark);
  }

  html:not([data-theme]) .music-card .title {
    color: var(--text-dark);
    font-weight: normal;
  }

}


@media (prefers-color-scheme: light) {
  html:not([data-theme]) {
    background-color: var(--bg-light);
    color: var(--text-light);
  }

  html:not([data-theme]) .search-container {
    background-color: var(--bg-light-2);
    color: var(--text-light);
    box-shadow: 0 0 5px 0 var(--gray);
  }

  html:not([data-theme]) .main-content {
    background-color: var(--bg-light-2);
  }

  html:not([data-theme]) .logo {
    background-image: url(img/logo_default.png);
    height: 100%;
    width: 53px;
    background-size: cover;
  }

  html:not([data-theme]) .music-card-search {
    background-color: var(--bg-light-2);
  }

  html:not([data-theme]) .music-card {
    background-color: var(--bg-light-2);
  }


}



.main-content {
  position: fixed;
  top: 55px;
  bottom: 10px;
  left: 75px;
  right: 10px;
  margin-block: 10px;
  clip-path: inset(0 round 30px);
  scrollbar-width: thin;
  scrollbar-color: #888 none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 25px;
  overflow: auto;
  scrollbar-gutter: stable;
}

.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}





/*--------
   Menu.php
  --------*/
aside {
  position: fixed;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  background-color: #7E26DC;
}

.material-symbols-rounded {
  font-size: 35px !important;
  color: #fff;
}

.select-icon {
  padding: 5px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

}

.select-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.icon-svg {
  width: 32px;
  height: 32px;
  fill: white;
  transition: fill 0.3s;
}

.select-icon-true {
  background-color: #ffffff;
  border-radius: 100px;
}

.select-icon-true .icon-svg {
  fill: #7E26DC !important;
}

.fade-in {
  animation: fadeHighlight 0.6s ease-in-out;
}

@keyframes fadeHighlight {
  from {
    background-color: transparent;
  }

  to {
    background-color: #fff;
  }
}

/*-------------
   searchBar.php
  ------------ */

header {
  height: 65px;
  margin-left: 65px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a,
.user-img {
  height: 100%;
  width: auto;
}

.logo {
  background-image: url(img/logo_default.png);
  height: 100%;
  width: 53px;
  background-size: cover;
}


.search-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  padding: 0 10px;
  gap: 10px;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
  background: none;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  align-items: center;
  height: 100%;
}

.search-container span {
  color: var(--gray) !important;
  font-size: 25px !important;
}




.banner {
  position: relative;
  margin: -25px;
  z-index: 1;
  /*max-width: 100%;*/
  height: auto;
  display: block;
  margin-bottom: 25px;
}

.banner-cadastro {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
  display: block;
}

.carousel-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.music-card {
  min-width: 150px;
  max-width: 150px;
  /* Ajuste para evitar que as cartas fiquem grandes demais */
  background-color: #fff;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0 0px 6px rgb(0 0 0 / 15%);
  flex-shrink: 0;
  /* Garantir que os itens não encolham */
  text-align: center;
  margin: 10px 0;

}

.music-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 20%);
  transition: all 0.1s ease-in-out;
}


.music-card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.music-card p {
  font-size: 0.95rem;
  margin-top: 0.4rem;
  color: #333;
}

.music-card .title {
  font-weight: bold;
}

.music-card .artist {
  font-size: 0.8rem;
  color: gray;
}


.button-carousel {
  font-size: 30px;
  background-color: #7E26DC;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a99ada;
}

.main-content .carousels {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-content {
  display: flex;
  gap: 25px;
  overflow-wrap: break-word;
}


.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 40%;
  margin: -25px auto;
  background-color: #7E26DC;
  gap: 20px;
  color: #fff;
height: 100%;
  justify-content: center;
}
}

.form-container button,
input[type="submit"] {
  width: 25%;
  height: 40px;
  background-color: #7E26DC;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  font-size: larger;
  transition: all 0.3s ease;
}

.form-container input[type="submit"]:hover {
  background-color: #6920b8;
  border-color: var(--bg-light);
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.text-danger {
  color: var(--gray);
}

.div-imagem {
  background-image: url('imagem1.jpg');
  width: 300px;
  height: 200px;
}

.radio-options {
  display: flex;
  gap: 20px;
}

.inputBox input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-inline: 5px;
}

.submit-form-button {
  display: flex;
  gap: 20px;
  align-items: center;
}

.submit-form-button div {
  display: flex;
  gap: 5px;
}

.submit-form-button a {
  text-decoration: underline;
}

.submit-form-button a:hover {
  color: var(--bg-light);
}


.music-card-search {
  min-width: 150px;
  max-width: 300px;
  /* Ajuste para evitar que as cartas fiquem grandes demais */
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0 0px 6px rgb(0 0 0 / 15%);
  flex-shrink: 0;
  /* Garantir que os itens não encolham */
  text-align: center;
}

.music-card-search:hover {
  transform: scale(1.02);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 20%);
  transition: all 0.1s ease-in-out;
}


.music-card-search img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.music-card-search p {
  font-size: 0.95rem;
  margin-top: 0.4rem;
  color: #333;
}

.music-card-search .title {
  font-weight: bold;
}

.music-card-search .artist {
  font-size: 0.8rem;
  color: gray;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 0.4fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.background-user {
  display: flex;
  align-items: end;
  min-height: 300px;
  padding: 25px 75px;
}

.user {
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--text-dark);
}

.user #name {
  font-size: 50px;
}

#situation {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
}

.status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.online {
  background-color: #4caf50;
}

.offline {
  background-color: #f44336;
}

#situation p {
  font-size: x-large;
}

.user img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #fff;
}

.user-data {
  display: flex;
  justify-content: space-around;
}

.music-box {
  display: flex;
  height: 100%;
  gap: 25px;
  justify-content: space-between;
}

.lyrics-box {
  text-align: center;
  white-space: pre-line;
  line-height: 1;
  word-wrap: break-word;
  font-family: 'Courier New', monospace;
  width: 70%;
  padding: 1rem;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 1rem;
  display: grid;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 10px;
  width: 25%;
  height: 100vh;
}

.song-info img {
  border-radius: 8px;
  width: 100%;
}

.song-info p {
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}

.start-button {
  background-color: #7E26DC;
  color: var(--text-dark) ;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  width: 100%;
}


footer {
  background-color: #a57cff;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  position: relative;
  margin: -25px;
  z-index: 1;
  display: block;
  padding: 25px;
  margin-top: 25px;
}


/*
.carousel-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.music-card {
  min-width: 150px;
  max-width: 150px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0 0px 6px rgb(0 0 0 / 15%);
  flex-shrink: 0;
  text-align: center;
}

.music-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 20%);
  transition: all 0.1s ease-in-out;
}


.music-card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.music-card p {
  font-size: 0.95rem;
  margin-top: 0.4rem;
  color: #333;
}

.music-card .title {
  font-weight: bold;
}

.music-card .artist {
  font-size: 0.8rem;
  color: gray;
}
*/

/* Área do teste */
#test-area {
    display: none;
    margin-top: 20px;
}

#expectedLyric {
    font-size: 24px;
    padding: 10px;
    background: #9192D8;
    border: 1px solid #7A7BBB;

    color: white;
    border-radius: 4px;
    min-height: 50px;
    margin-bottom: 10px;
}

#typingInput {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#progress,
#message,
#stats {
    margin-top: 15px;
    font-size: 18px;
}

button {
    padding: 10px 16px;
    background: #9192D8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 16px;
    display: block;
}

button:hover {
    background: #7A7BBB;
}

#menu {
    display: block;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid #ccc;
}

.highlight-letter {
    color: rgb(82, 51, 153);
    font-weight: bold;
}

#image-container {
    display: none;
}

#image-container img {
    width: 200px;
    height: auto;
}